---

---

body
  display: flex
  flex-direction: column
  margin: 0
  padding: 0
  background-color: #EFEFEF
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

#header
  display: none

.flex-container
  display: flex
  justify-content: center
  flex-direction: row
  flex-wrap: wrap

.flex-item
  max-width: 400px

.skill-icon svg
  width: 13px

.skill
  border: 1px solid
  border-radius: 10px
  width: 290px
  padding: 10px
  margin: 0 auto 20px auto

.strong
  color: #41A85F
  fill: #41A85F

.knowledgeable
  color: #F37934
  fill: #F37934

.skill-header
  width: 300px
  float: left
  font-size: 70%
  text-transform: uppercase

.skill-header
  text-align: left
  margin-top: -15px
  background-color: #EFEFEF
  padding-left: 10px
  padding-right: 10px

.strong .skill-header
  width: 105px

.knowledgeable .skill-header
  width: 140px

.info-icon svg
  width: 20px

.social-icon svg
  width: 50px
  fill: #475577
  margin: 20px 3px 0 3px

#keywords
  color: #475577
  padding: 20px 0 30px 0

#footer
  text-align: center
  background-color: #475577
  font-size: 16px
  color: #D1D5D8
  padding: 30px 0 30px 0
  line-height: 20px

section
  border-bottom: 1px solid #D1D5D8
  margin: 20px 0 0 0
  padding: 0 0 20px 0
  font-size: 18px
  color: #28324E
  text-align: center

a
  text-decoration: none
  color: #3D8EB9

.section-title
  text-transform: uppercase
  font-family: Georgia, serif

.footer-link
  color: #54acd2

.footer-paragraph
  margin: 0
