body {
  font-family: "Courier New", Courier, monospace;
}

#irina-ivanova {
  text-align: center;
}

#header {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-item {
  width: 800px;
}

.flex-item > h2 {
  text-align: center;
}

.cv {
  text-align: center;
}

.social-links {
  text-align: center;
}

.references-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reference {
  margin: 1%;
}

.references-flex-container > div {
  width: 45%;
}

.reference-name {
  font-weight: bold;
  margin-bottom: 0px;
}

.reference-position {
  font-size: small;
  margin-top: 0px;
}

.reference-text {
  margin-bottom: 0px;
}

.reference-date {
  text-align: right;
  font-size: small;
  margin-top: 0px;
}

footer {
  text-align: center;
  margin-top: 100px;
}

.small-text {
  font-size: small;
}

.non-it-stuff-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.non-it-stuff-flex-container > div {
  width: 32%;
  padding-left: 1%;
}

.non-it-stuff-flex-container > div:first-child {
  border-right: 1px dashed black;
}

.non-it-stuff-flex-container > div:last-child {
  border-left: 1px dashed black;
}

.non-it-stuff-header {
  font-weight: bold;
}
