<header id="header">
  <picture>
    <img id="selfie"
         sizes="(max-width: 3840px) 100vw, 3840px"
         srcset="
         assets/header/me-480.jpg 480w,
         assets/header/me-1204.jpg 1204w,
         assets/header/me-1711.jpg 1711w,
         assets/header/me-2110.jpg 2110w,
         assets/header/me-2511.jpg 2511w,
         assets/header/me-2865.jpg 2865w,
         assets/header/me-3202.jpg 3202w,
         assets/header/me-3513.jpg 3513w,
         assets/header/me-3815.jpg 3815w,
         assets/header/me-3840.jpg 3840w"
         src="assets/header/me-3840.jpg"
         alt="Header picture of me">
  </picture>
</header>