<section id="talks">
  <h1 class="section-title">Public Talks</h1>

  <div class="flex-container">
    {% for t in site.data.talks %}
    <div class="flex-item">
      <p>{{ t.title }}</p>
      <p>{{ t.date }}</p>
      <p>{{ t.description }}</p>
      {% if t.feedback %}
        {% for f in t.feedback %}
          <p>{{ f }}</p>
        {% endfor %}
      {% endif %}

      {% if t.links %}
        {% for l in t.links %}
          <p><a href="{{ l.url }}">{{ l.text }}</a></p>
        {% endfor %}
      {% endif %}

    </div>
    {% endfor %}
  </div>
</section>